<div class="row">

    {% for post in site.posts %}
    
    {% if forloop.index  != 1 %}
    <div class="col-md-6">
        <article class="card post hentry" >
            
            <div class="st-post-thumb">
                <img class="card-img-top d-block img-fluid attachment-post-thumbnail size-post-thumbnail wp-post-image" src="{{ post.cover }}" alt="{{ post.title }}">
            </div>
                
            <div class="card-block">

                <header class="entry-header">
                        
                    <h2 class="entry-title card-title">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </h2>
                    <div class="entry-meta">
                        <span class="posted-on meta-span"><i class="fa fa-calendar-check-o"></i><time class="entry-date published" datetime="2017-04-30T19:01:45+00:00">{{ post.fecha }}</time></span>
                    </div>
                
                </header>

                <p class="card-text">{{ post.excerpt | remove: '<p>' | remove: '</p>'| truncatewords:20 }}[…]</p>

                <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-secondary btn-sm">Leer</a>

            </div>

        </article>

    </div>
    {% endif %}
    
{% endfor %}

</div>