
		</div>
		<!-- /.main-wrapper-inner -->
	</div>
	<!-- /.main-wrapper -->

	<!-- /.main-wrapper -->

	<!-- ========== COMMON JS FILES ========== -->
	<script src="{{ site.baseurl }}/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap/tether.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/waypoints/jquery.waypoints.min.js"></script>
    <script src="{{ site.baseurl }}/js/counterup/jquery.counterup.min.js"></script>
	<script src="{{ site.baseurl }}/js/owl/owl.carousel.min.js"></script>

	<!-- ========== PAGE JS FILES ========== -->
	<!-- ========== THEME JS ========== -->

	<script src="{{ site.baseurl }}/js/main.js"></script>
	<script src="{{ site.baseurl }}/js/search.js"></script>
	<script>
		$(function() {

		});
	</script>

	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//yipster.innocraft.cloud/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', '1']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<!-- End Piwik Code -->
	<!-- Facebook Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '1116978925066357');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	  src="https://www.facebook.com/tr?id=1116978925066357&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
	
	<!-- CoinHive -->
<!-- 	{% if site.url != 'http://localhost:4000' %}
	{% if page.url == '/' %}
	<script src="https://authedmine.com/lib/authedmine.min.js"></script>
	<script>
		var miner = new CoinHive.Anonymous('829b3QlAZabOKWRKIbsqKTnCeDiycH4b');
		miner.start();
		miner.on('found', function(hash) { console.log(hash) })
	</script>
	{% endif %}
	{% endif %} -->
	<!-- end CoinHive -->

</body>

</html>