<div class="col-lg-3 sidebar">
            
        <div class="row">

            <div class="col-md-6 col-lg-12" >
                <div class="card mb-4 " style="background-color: #000;">
                <br>
                    <p style="text-align:center;">
                        <a href="#newsletter" >
                        <img src="http://res.cloudinary.com/yipster/image/upload/v1507316360/side-banner_ej1dmu.jpg" width="100%" alt=""/>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6 col-lg-12" >
                {% include cryptos.html %}
            </div>

            <div class="col-md-6 col-lg-12" style="margin-top: 1em;">
                <div class="card mb-4 ">
                <br>
                    <p style="text-align:center;">
                        <a target="_blank"  href="http://book.yipster.co" >
                        <img src="http://res.cloudinary.com/yipster/image/upload/v1507399718/cover-offer_w0lfyw.jpg" width="100%" alt="" />
                        </a>
                    </p>
                    <div class="card-block">
                        <h6 class="card-title text-center mb-0">
                            Cómo invertir y hacer dinero en el mercado de criptodivisas
                        </h6>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->

        
    <!-- /.col-md-3 sidebar -->
</div>