<meta name="author" content="https://kuarks.com">
<meta name="description" content="{{ page.description }}" />

<!-- og tags Facebook -->
<meta property="fb:app_id" content="638816966323518">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ page.cover }}">
<meta property="og:site_name" content="{{ page.title }}">


<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Ku4arks">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:creator" content="@Ku4arks">
<meta name="twitter:image:src" content="{{ page.cover }}">
<meta name="twitter:domain" content="{{ site.url }}{{ page.url }}">