
            {% include sidebar.html %}
            
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section -->
<section class="content-section bg-primary">
    <div class="container">
        <div class="row">
        <!-- TODO: add sucribers form -->
        {% include suscribers.html %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section bg-primary -->

<footer class="st-footer">
    <div class="container">
        <div class="row">
            <!-- TODO: add footer data -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

	<div class="scroll-top-button">
		<i class="fa fa-arrow-up"></i>
	</div> 
	<!-- /.scroll-top-button -->
</footer>
<!-- /.st-footer -->