<br>
<div class="container">
    <nav>
    <div class="row">
        <div class="col-xs-12 col-md-1">
            <a href="/">
                <img src="{{site.url}}/images/yipster.png" alt="" width="100">
            </a>
        </div>
        <div class="col-sm-12 col-md-7">

                <ul class="top-menu">
<!--                     <li class="">
                        <a class="" href="#"><b>Reportes</b></a>
                    </li> -->
                    <li class="">
                        <a class="" href="{{ site.url }}/nosotros"><b>Nosotros</b></a>
                    </li>
                    <li class="">
                        <a class="" href="{{ site.url }}/tutorials"><b> Tutoriales</b></a>
                    </li>
                    <li class="">
                        <a class="" href="{{ site.url }}/newsletter" style="margin-left:.4em;"><b>Newsletter</b></a>
                    </li>
                </ul>

        </div>
        <div class="col-sm-12 col-md-4">
            <div class="input-group btn-group pull-right">
                <input type="text" id="search-box" class="form-control">
                <button class="btn btn-primary" onclick="search()">Buscar</button>
            </div>
        </div>
    </div>
    </nav>
</div>
<br>
<br>