<br>
<div class="container">
    <nav>
    <div class="row">
        <div class="col-md-6">
            <a href="/">
                <img src="{{site.url}}/images/yipster.png" alt="" width="100">
            </a>
        </div>
        <div class="col-md-6">
            <div class="input-group btn-group pull-right">
                <input type="text" id="search-box" class="form-control">
                <button class="btn btn-primary" onclick="search()">Buscar</button>
            </div>
        </div>
    </div>
    </nav>
</div>